## Merge 3 csv files into a single output file

In [1]:
# imports
import pandas as pd

In [6]:
data_0 = pd.read_csv('../data/daily_sales_data_0.csv')
data_1 = pd.read_csv('../data/daily_sales_data_1.csv')
data_2 = pd.read_csv('../data/daily_sales_data_2.csv')

In [7]:
# inspect
data_0.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [8]:
data_1.head()

       product  price  quantity        date region
0  pink morsel  $3.00       545  2019-06-11  north
1  pink morsel  $3.00       521  2019-06-11  south
2  pink morsel  $3.00       595  2019-06-11   east
3  pink morsel  $3.00       507  2019-06-11   west
4  gold morsel  $9.99       529  2019-06-11  north

In [9]:
data_2.head()

       product  price  quantity        date region
0  pink morsel  $3.00       526  2020-10-13  north
1  pink morsel  $3.00       546  2020-10-13  south
2  pink morsel  $3.00       505  2020-10-13   east
3  pink morsel  $3.00       561  2020-10-13   west
4  gold morsel  $9.99       553  2020-10-13  north

In [26]:
# def filter(dataframe):
#     # Need to create a copy because of SettingWithCopyWarning
#     dataframe_filtered = dataframe[dataframe['product'] == 'pink morsel'].copy()
#
#     # Calculate 'sales' using the filtered data
#     dataframe_filtered['sales'] = dataframe_filtered['quantity'] * dataframe_filtered['price']
#
#     # Drop the original 'quantity' and 'price' columns by their names
#     dataframe_filtered.drop(['quantity', 'price'], axis=1, inplace=True)
#
#     return dataframe_filtered

In [27]:
# data_0_filtered = filter(data_0)
# data_1_filtered = filter(data_1)
# data_2_filtered = filter(data_2)

In [28]:
# # data is already in order of date so using concat function
# data = pd.concat([data_0_filtered, data_1_filtered, data_2_filtered])

In [29]:
# # concert to csv
# data.to_csv('cleaned_data.csv')

In [32]:
# In one go
(pd.concat([data_0, data_1, data_2])
   .query("product == 'pink morsel'")
   .assign(sales = lambda df: df['quantity'] * df['price'])
   .drop(columns=['quantity', 'price'])
   .to_csv('../data/cleaned/cleaned_data.csv', index=False)
)