## Merge 3 csv files into a single output file

In [1]:
# imports
import pandas as pd

In [6]:
data_0 = pd.read_csv('../data/daily_sales_data_0.csv')
data_1 = pd.read_csv('../data/daily_sales_data_1.csv')
data_2 = pd.read_csv('../data/daily_sales_data_2.csv')

In [33]:
# inspect
data_0.head()
data_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13720 entries, 0 to 13719
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   13720 non-null  object
 1   price     13720 non-null  object
 2   quantity  13720 non-null  int64
 3   date      13720 non-null  object
 4   region    13720 non-null  object
dtypes: int64(1), object(4)
memory usage: 536.1+ KB

In [8]:
data_1.head()

       product  price  quantity        date region
0  pink morsel  $3.00       545  2019-06-11  north
1  pink morsel  $3.00       521  2019-06-11  south
2  pink morsel  $3.00       595  2019-06-11   east
3  pink morsel  $3.00       507  2019-06-11   west
4  gold morsel  $9.99       529  2019-06-11  north

In [9]:
data_2.head()

       product  price  quantity        date region
0  pink morsel  $3.00       526  2020-10-13  north
1  pink morsel  $3.00       546  2020-10-13  south
2  pink morsel  $3.00       505  2020-10-13   east
3  pink morsel  $3.00       561  2020-10-13   west
4  gold morsel  $9.99       553  2020-10-13  north

In [26]:
# def filter(dataframe):
#     # Need to create a copy because of SettingWithCopyWarning
#     dataframe_filtered = dataframe[dataframe['product'] == 'pink morsel'].copy()
#
#     # Calculate 'sales' using the filtered data
#     dataframe_filtered['sales'] = dataframe_filtered['quantity'] * dataframe_filtered['price']
#
#     # Drop the original 'quantity' and 'price' columns by their names
#     dataframe_filtered.drop(['quantity', 'price'], axis=1, inplace=True)
#
#     return dataframe_filtered

In [27]:
# data_0_filtered = filter(data_0)
# data_1_filtered = filter(data_1)
# data_2_filtered = filter(data_2)

In [28]:
# # data is already in order of date so using concat function
# data = pd.concat([data_0_filtered, data_1_filtered, data_2_filtered])

In [29]:
# # concert to csv
# data.to_csv('cleaned_data.csv')

In [37]:
# In one go
(pd.concat([data_0, data_1, data_2])
   .query("product == 'pink morsel'")
.assign(price = lambda df: df['price'].str.replace('$', '', regex=False).astype(float))
   .assign(sales = lambda df: df['quantity'] * df['price'])
   .drop(columns=['quantity', 'price'])
   .to_csv('../data/cleaned/cleaned_data.csv', index=False)
)

In [38]:
df_cleaned = pd.read_csv('../data/cleaned/cleaned_data.csv')

In [39]:
df_cleaned.head()

       product        date region   sales
0  pink morsel  2018-02-06  north  1638.0
1  pink morsel  2018-02-06  south  1647.0
2  pink morsel  2018-02-06   east  1731.0
3  pink morsel  2018-02-06   west  1557.0
4  pink morsel  2018-02-07  north  1587.0